#root {
  width: 35em;
  height: 100vh;
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}
#root .app_content {
  padding-top: 25px;
}
#root .app_content h1 {
  color: #000;
  font-size: 26px;
  font-weight: bold;
}
